body{
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    background-color: #FCE4EC;

}
header, footer{
    background-color: #880e4f;
    color: white;
    padding: 10px;
    letter-spacing: 20px;
}
main{
    display: flex;
}
#lewa{
    width: 50%;
    height: 600px;
    overflow: auto;
   
}
#prawa{
    background-color: #880e4f;
    color: white;
    width: 40%;
    height: 500px;
    margin: 35px;
    box-shadow: 10px 10px 15px dimgray;
   
}
table{
    margin: auto;
    width: 70%; 
}
input, select, button{
    margin: 5px;
    width: 70%;
}
tr:hover{
    background-color: #F8BBd0;
}