*{
    font-family: Cambria;

}
body{
    background-color: mistyrose;
}
header,footer{
    height: 200px;
    text-align: center;
    overflow: hidden;
}
section{
    background-color: plum;
    height: 400px;
    width: 22%S;
    margin: 5px;
    box-shadow: 4px 4px 10px dimgray;
    overflow: hidden;
    float: left;
}
@media (max-width:800px){
    section{
        width:100%;
    }
}
h2{
    text-align: center;
}
input[type="submit"]:hover{
    background-color: #505050;
    color: white;
}
.container{
    flex-direction: column;
}
footer{
    clear: both;
}