*{
    text-align: center;
    font-family: Georgia;
}
header,footer{
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
    clear: both;
}
nav{
    width: 20%;
    float: left;

}
.Blok1, .Blok2, .Blok3{
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
.Blok1{
    background-color: mistyrose;
}
main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
}
.sekcja2, .sekcja3{
    display: none;
}
table{
    margin: auto;
    width: 60%;
    border: dashed 1px indigo;
}
select,button{
    margin: 20px;
}
dt{
    font-weight: bold;
    font-style:italic;
}
dt:hover{
    font-size: 180%;
}