*{
    font-family: "Comic Sans MS",sans-serif;
    text-align: center;
}
nav,footer{
    background-color: #00838F;
    color: #B2DFDB;
    padding: 10px;
}
main{
    display: flex;
}
aside,section{
    width: 50%;
    height: 600px;
    overflow: auto;
}
aside{
    background-color: #b2dfdb;
}
.wycieczka{
    background-color: #00838fb3;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    

}
.wycieczka:hover{
    background-color: #00838fff;
}
img{
    float: right;
    border-radius: 30px;
    margin: 7px;
}
li{
    display: inline-block;
    list-style-type: none;
}
a{
    color: #B2DFDB;
    text-decoration: none;
    margin-left: 50px;
}
a:hover{
    color: white;
    text-decoration: underline;
}
