body{
    font-family: Verdana;
    background-color: #F0EAE2;
}
header, footer{
    background-image: url("cegla.jpg");
    color: white;
    height: 60px;
    text-align: center;
}
nav{
    background-color: #824555;
    width: 80%;
    height: 60px;
}
.main_right{
    width: 20%;
    height: 560px;
    text-align: right;
    overflow: hidden;
}
.main_right img{
    width: 100%;
}
.section_left, .section_center{
    width: 40%;
    height: 500px;
    overflow: auto;
}
h2{
    text-align: center;
}
a{
    color: #F0EAE2;
    padding-left: 100px;
    font-size: 180%;
}
a:hover{
    color: white;
}

/* ustawienie blokow */
.main_right, .main_left{
    float: left;
}
.main_left{
    width: 80%;
}
.main_right{
    width: 20%;
}
footer{
    clear: both;
}
.section_left, .section_center{
    float: left;
    width: 50%;
}
nav{
    clear: both;
    width: 100%;
}