body{
    font-family: cambria;
    text-align: center;
}
.baner, footer{
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
    clear: both;
}
nav{
    background-color: rgb(173, 20, 87);
    text-align: left;
    clear: both;
}
.lewy{
    background-color: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
    float: left;
}
.prawy{
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
    float: left;

}
nav img{
    margin: 40px;
    padding: 10px;
}
nav img:hover{
    border: 1px dotted yellowgreen;
}
a{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    color: yellowgreen;
}
table, th, td{
    border: 1px solid olivedrab;
}
table{
    width: 90%;
}